.btn {
  border-width: 2px;
}
body {
  font-family: Work Sans;
}
.display-1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3.8rem;
  line-height: 1.22;
}
.display-1 > .mbr-iconfont {
  font-size: 4.75rem;
}
.display-2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.38rem;
  line-height: 1.7;
}
.display-7 > .mbr-iconfont {
  font-size: 1.725rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.04rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.66rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.104rem;
    font-size: calc( 1.133rem + (1.38 - 1.133) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.133rem + (1.38 - 1.133) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #0b2b5c !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-primary,
.btn-primary:active {
  background-color: #0b2b5c !important;
  border-color: #0b2b5c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary::before,
.btn-primary:active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff !important;
  transition: all .3s;
  z-index: -1;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #0b2b5c !important;
  background-color: transparent !important;
  border-color: #0b2b5c;
  box-shadow: none;
}
.btn-primary:hover::before,
.btn-primary:focus::before,
.btn-primary.focus::before,
.btn-primary.active::before {
  width: 100%;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #041e45 !important;
  border-color: #041e45 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary::before,
.btn-secondary:active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff !important;
  transition: all .3s;
  z-index: -1;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #041e45 !important;
  background-color: transparent !important;
  border-color: #041e45;
  box-shadow: none;
}
.btn-secondary:hover::before,
.btn-secondary:focus::before,
.btn-secondary.focus::before,
.btn-secondary.active::before {
  width: 100%;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info::before,
.btn-info:active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff !important;
  transition: all .3s;
  z-index: -1;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #47b5ed !important;
  background-color: transparent !important;
  border-color: #47b5ed;
  box-shadow: none;
}
.btn-info:hover::before,
.btn-info:focus::before,
.btn-info.focus::before,
.btn-info.active::before {
  width: 100%;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0b4c6d !important;
  border-color: #0b4c6d !important;
}
.btn-success {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success::before,
.btn-success:active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff !important;
  transition: all .3s;
  z-index: -1;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #40b0bf !important;
  background-color: transparent !important;
  border-color: #40b0bf;
  box-shadow: none;
}
.btn-success:hover::before,
.btn-success:focus::before,
.btn-success.focus::before,
.btn-success.active::before {
  width: 100%;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #112e32 !important;
  border-color: #112e32 !important;
}
.btn-warning {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: none;
}
.btn-warning::before,
.btn-warning:active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #614f00 !important;
  transition: all .3s;
  z-index: -1;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffe161 !important;
  background-color: transparent !important;
  border-color: #ffe161;
  box-shadow: none;
}
.btn-warning:hover::before,
.btn-warning:focus::before,
.btn-warning.focus::before,
.btn-warning.active::before {
  width: 100%;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #a38400 !important;
  border-color: #a38400 !important;
}
.btn-danger {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger::before,
.btn-danger:active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff !important;
  transition: all .3s;
  z-index: -1;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ff9966 !important;
  background-color: transparent !important;
  border-color: #ff9966;
  box-shadow: none;
}
.btn-danger:hover::before,
.btn-danger:focus::before,
.btn-danger.focus::before,
.btn-danger.active::before {
  width: 100%;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a83800 !important;
  border-color: #a83800 !important;
}
.btn-white {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: none;
}
.btn-white::before,
.btn-white:active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #7a7a7a !important;
  transition: all .3s;
  z-index: -1;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #fafafa !important;
  background-color: transparent !important;
  border-color: #fafafa;
  box-shadow: none;
}
.btn-white:hover::before,
.btn-white:focus::before,
.btn-white.focus::before,
.btn-white.active::before {
  width: 100%;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #9c9c9c !important;
  border-color: #9c9c9c !important;
}
.btn-black {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black::before,
.btn-black:active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff !important;
  transition: all .3s;
  z-index: -1;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #232323 !important;
  background-color: transparent !important;
  border-color: #232323;
  box-shadow: none;
}
.btn-black:hover::before,
.btn-black:focus::before,
.btn-black.focus::before,
.btn-black.active::before {
  width: 100%;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #0b2b5c;
  color: #0b2b5c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #02070f !important;
  background-color: transparent !important;
  border-color: #02070f !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0b2b5c !important;
  border-color: #0b2b5c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #041e45;
  color: #041e45;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #041e45 !important;
  border-color: #041e45 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent !important;
  border-color: #148cca !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent !important;
  border-color: #2a747e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent !important;
  border-color: #ffd10a !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent !important;
  border-color: #ff5f0f !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #0b2b5c !important;
}
.text-secondary {
  color: #041e45 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #f2bb2c !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #0a48a5 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #f2bb2c !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #f2bb2c !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #f2bb2c !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ffddcc !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #f2bb2c !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #f2bb2c !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #0b2b5c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0b2b5c;
  border-color: #0b2b5c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0b2b5c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #1960ce;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #0b2b5c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #0b2b5c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0b2b5c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #0b2b5c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0b2b5c;
  border-bottom-color: #0b2b5c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0b2b5c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #041e45 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230b2b5c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sIjMv8j33t {
  background-color: #fcf5e6;
}
.cid-sIjMv8j33t .main-container .main-img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 991px) {
  .cid-sIjMv8j33t .main-container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 767px) {
  .cid-sIjMv8j33t .main-container .main-title {
    margin-top: 1rem;
  }
}
.cid-sIjMyRTGVe {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fcf5e6;
}
.cid-sIjMyRTGVe .geometry {
  position: absolute;
}
.cid-sIjMyRTGVe .geometry__triangle {
  width: 128px;
  height: 88px;
}
.cid-sIjMyRTGVe .geometry_left {
  left: -70px;
  bottom: 230px;
}
.cid-sIjMyRTGVe .geometry__circle {
  width: 88px;
  height: 88px;
  border-radius: 100px;
  border: 2px solid #0b2b5c;
  padding: -1rem;
  z-index: 1;
  position: absolute;
}
.cid-sIjMyRTGVe .geometry__circle-bg {
  position: absolute;
  width: 88px;
  height: 88px;
  background: #041e45;
  border-radius: 100px;
  margin: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .cid-sIjMyRTGVe .card-block {
    width: 100%;
  }
}
.cid-sIjMyRTGVe blockquote {
  border-color: #ffffff;
  border-radius: 34px;
  margin: 0;
  background-color: #ffffff;
}
.cid-sIjMyRTGVe blockquote h5 {
  font-weight: 300;
}
@media (max-width: 992px) {
  .cid-sIjMyRTGVe blockquote {
    padding: 2rem 1rem;
  }
  .cid-sIjMyRTGVe .geometry {
    position: absolute;
  }
  .cid-sIjMyRTGVe .geometry__circle,
  .cid-sIjMyRTGVe .geometry__circle-bg {
    width: 66px;
    height: 66px;
  }
  .cid-sIjMyRTGVe .geometry_left {
    left: -47px;
    bottom: 240px;
  }
}
@media (min-width: 992px) {
  .cid-sIjMyRTGVe blockquote {
    padding: 3rem;
  }
}
@media (min-width: 768px) {
  .cid-sIjMyRTGVe .geometry__circle-bg {
    transition: transform .3s;
    transform-origin: 0 60px;
  }
  .cid-sIjMyRTGVe blockquote:hover .geometry__circle-bg {
    transform: rotate(-40deg) scale(0.9);
  }
}
.cid-sIjMM1uCNB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fcf5e6;
}
.cid-sIjMM1uCNB .content {
  display: flex;
  flex-flow: row-reverse;
}
.cid-sIjMM1uCNB .text-wrapper {
  position: relative;
  background: #ffffff;
  width: 50%;
  padding: 50px 0;
  border-radius: 30px 0 0 30px;
}
.cid-sIjMM1uCNB .text-wrapper .card-btn a {
  margin: 2rem 0 0 0;
}
.cid-sIjMM1uCNB .text-wrapper .card-btn {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}
.cid-sIjMM1uCNB .text-wrapper .card-text,
.cid-sIjMM1uCNB .text-wrapper .card-btn,
.cid-sIjMM1uCNB .text-wrapper .card-title {
  margin: 1rem 4rem 1rem -25vw;
}
.cid-sIjMM1uCNB .content-wrapper {
  padding: 0 !important;
}
@media (max-width: 991px) {
  .cid-sIjMM1uCNB .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
    margin: 0 2rem 7rem 2rem;
  }
  .cid-sIjMM1uCNB .content-wrapper .geometry__square,
  .cid-sIjMM1uCNB .content-wrapper .geometry__circle {
    width: 66px;
    height: 66px;
  }
}
@media (max-width: 767px) {
  .cid-sIjMM1uCNB .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sIjMM1uCNB .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sIjMM1uCNB .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-sIjMM1uCNB .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-sIjMM1uCNB .geometry {
  position: absolute;
}
.cid-sIjMM1uCNB .geometry_top-left {
  top: -50px;
  right: 80%;
}
.cid-sIjMM1uCNB .geometry_bottom-right {
  bottom: -40px;
  left: 40%;
}
.cid-sIjMM1uCNB .geometry__circle {
  width: 88px;
  height: 88px;
  border-radius: 100px;
  border: 2px solid #0b2b5c;
  padding: -1rem;
  z-index: 1;
  position: absolute;
}
.cid-sIjMM1uCNB .geometry__triangle {
  width: 126px;
  height: 88px;
}
.cid-sIjMM1uCNB .geometry__square,
.cid-sIjMM1uCNB .geometry__circle {
  width: 88px;
  height: 88px;
}
.cid-sIjMM1uCNB .geometry__square {
  border-radius: 8px;
  border: 2px solid #0b2b5c;
  z-index: 1;
  position: absolute;
}
.cid-sIjMM1uCNB .geometry__square-bg {
  width: 88px;
  height: 88px;
  background: #041e45;
  border-radius: 8px;
  margin: 0.5rem;
  position: absolute;
}
.cid-sIjMM1uCNB .geometry__circle-bg {
  position: absolute;
  width: 88px;
  height: 88px;
  background: #041e45;
  border-radius: 100px;
  margin: 0.5rem;
}
.cid-sIjMM1uCNB .geometry_top-right {
  top: -50px;
  left: 30%;
}
.cid-sIjMM1uCNB .geometry_bottom-left {
  bottom: 47px;
  right: 30%;
}
.cid-sIjMM1uCNB .image-wrapper {
  margin: 0 0 0 4rem;
}
.cid-sIjMM1uCNB .image-wrapper .img {
  padding: 20px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-sIjMM1uCNB .content {
    display: block;
  }
  .cid-sIjMM1uCNB .text-wrapper {
    width: 100%;
    border-radius: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .cid-sIjMM1uCNB .card-text,
  .cid-sIjMM1uCNB .card-title,
  .cid-sIjMM1uCNB .card-btn {
    margin: 1rem 1rem 1rem 1rem !important;
  }
}
@media (min-width: 768px) {
  .cid-sIjMM1uCNB .geometry__square-bg {
    transition: transform .3s;
  }
  .cid-sIjMM1uCNB .geometry__circle-bg {
    transition: transform .3s;
    transform-origin: 0 60px;
  }
  .cid-sIjMM1uCNB .text-wrapper:hover .geometry__circle-bg {
    transform: rotate(-40deg) scale(0.9);
  }
  .cid-sIjMM1uCNB .text-wrapper:hover .geometry__square-bg {
    transform: rotate(20deg) scale(0.9);
  }
}
@media (max-width: 992px) {
  .cid-sIjMM1uCNB .geometry {
    position: absolute;
  }
  .cid-sIjMM1uCNB .geometry__circle,
  .cid-sIjMM1uCNB .geometry__circle-bg,
  .cid-sIjMM1uCNB .geometry__square,
  .cid-sIjMM1uCNB .geometry__square-bg {
    width: 66px;
    height: 66px;
  }
}
.cid-sIjMUUybCn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #fcf5e6;
}
.cid-sIjMUUybCn .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-sIjMUUybCn .team-card:hover {
  transform: translateY(-10px);
}
.cid-sIjMUUybCn .container-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 77%;
}
.cid-sIjMUUybCn .card-content {
  margin: -80% 0 0 0;
}
.cid-sIjMUUybCn .card-wrap {
  background: #ffffff;
  height: 100%;
  display: flex;
  border-radius: 20px;
  position: relative;
}
.cid-sIjMUUybCn .card-wrap__content {
  margin: 0 0 -6vw 0;
  padding: 3rem 1.3rem;
}
.cid-sIjMUUybCn .card-wrap .image-wrap img {
  width: 100%;
}
.cid-sIjMUUybCn .card-wrap .image-wrap {
  margin: 1rem 2rem;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-sIjMUUybCn .card-wrap .content-wrap {
    padding: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sIjMUUybCn .card-wrap {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sIjMUUybCn .profile-container .pdd-top:not(:first-child) {
    margin-bottom: 4rem;
  }
}
.cid-sIjMUUybCn .social-row {
  text-align: center;
}
.cid-sIjMUUybCn .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-sIjMUUybCn .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
}
.cid-sIjMUUybCn .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-sIjMUUybCn .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-sIjMZohNm2 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fcf5e6;
}
.cid-sIjMZohNm2 img,
.cid-sIjMZohNm2 .item-img {
  width: 100%;
}
.cid-sIjMZohNm2 .item-card:focus,
.cid-sIjMZohNm2 span:focus {
  outline: none;
}
.cid-sIjMZohNm2 .item-card {
  margin-bottom: 2rem;
}
.cid-sIjMZohNm2 .item-wrapper {
  position: relative;
  background: #ffffff;
  overflow: initial;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-sIjMZohNm2 .item-wrapper ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-sIjMZohNm2 .item-wrapper ul li {
  margin-bottom: 1rem;
  position: relative;
  list-style: none;
  padding-left: 1rem;
}
.cid-sIjMZohNm2 .item-wrapper ul li:before {
  position: absolute;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #232323;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  padding-bottom: 1rem;
  content: "ᐅ";
}
.cid-sIjMZohNm2 .item-wrapper .item-content {
  z-index: 1;
}
.cid-sIjMZohNm2 .item-wrapper .outline-hover {
  border: 2px solid #000;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20px, -20px);
  opacity: 0;
}
@media screen and (min-width: 767px) {
  .cid-sIjMZohNm2 .item-wrapper:hover {
    background: #f2bb2c;
  }
  .cid-sIjMZohNm2 .item-wrapper:hover .outline-hover {
    opacity: 1;
  }
}
.cid-sIjMZohNm2 .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sIjMZohNm2 .mbr-text,
.cid-sIjMZohNm2 .mbr-section-btn {
  text-align: left;
}
.cid-sIjMZohNm2 .item-title {
  text-align: left;
}
.cid-sIjMZohNm2 .item-subtitle {
  text-align: left;
}
.cid-sIjN2RlcMX {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fcf5e6;
}
.cid-sIjN2RlcMX .mbr-text {
  color: #767676;
}
.cid-sIjN2RlcMX .mbr-section-subtitle {
  color: #767676;
}
.cid-sIjN2RlcMX .title .num {
  width: 100%;
  display: block;
}
.cid-sIjN2RlcMX .title .card-title {
  z-index: 1;
}
.cid-sIjN2RlcMX .card {
  padding-left: 1rem;
  border-left: 1px solid #f2bb2c;
}
.cid-sIjN2RlcMX .num {
  color: #f2bb2c;
}
@media (max-width: 767px) {
  .cid-sIjN2RlcMX * {
    text-align: left !important;
  }
  .cid-sIjN2RlcMX .cards {
    gap: 3rem;
    margin: 0;
  }
  .cid-sIjN2RlcMX .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-sIjN2RlcMX .content-column {
    margin-bottom: 2rem;
  }
}
.cid-sIjN66kf3i {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fcf5e6;
}
.cid-sIjN66kf3i .geometry {
  position: absolute;
}
.cid-sIjN66kf3i .geometry__triangle {
  width: 128px;
  height: 88px;
}
.cid-sIjN66kf3i .geometry_left {
  left: -70px;
}
.cid-sIjN66kf3i .geometry__square {
  width: 88px;
  height: 88px;
  border-radius: 100px;
  border: 2px solid #0b2b5c;
  padding: -1rem;
  z-index: 1;
  position: absolute;
}
.cid-sIjN66kf3i .geometry__square-bg {
  position: absolute;
  width: 88px;
  height: 88px;
  background: #041e45;
  border-radius: 100px;
  margin: 0.5rem;
}
.cid-sIjN66kf3i .geometry_bottom-left {
  left: 140px;
  bottom: 40px;
}
.cid-sIjN66kf3i blockquote {
  border-color: #ffffff;
  border-radius: 34px;
  margin: 0;
  background-color: #ffffff;
}
.cid-sIjN66kf3i blockquote h5 {
  font-weight: 300;
}
@media (max-width: 992px) {
  .cid-sIjN66kf3i blockquote {
    padding: 2rem 1rem;
  }
  .cid-sIjN66kf3i .geometry {
    position: absolute;
  }
  .cid-sIjN66kf3i .geometry__square,
  .cid-sIjN66kf3i .geometry__square-bg {
    width: 66px;
    height: 66px;
  }
  .cid-sIjN66kf3i .geometry_bottom-left {
    left: 140px;
    bottom: 40px;
  }
}
@media (min-width: 992px) {
  .cid-sIjN66kf3i blockquote {
    padding: 3rem;
  }
}
@media (max-width: 1400px) {
  .cid-sIjN66kf3i .box-shadow {
    padding: 3rem 10rem;
  }
}
@media (max-width: 1200px) {
  .cid-sIjN66kf3i .box-shadow {
    padding: 3rem 5rem;
  }
}
@media (max-width: 767px) {
  .cid-sIjN66kf3i blockquote {
    padding: 2rem 1rem;
  }
}
@media (min-width: 768px) {
  .cid-sIjN66kf3i .geometry__square-bg {
    transition: transform .3s;
    transform-origin: 0 60px;
  }
  .cid-sIjN66kf3i blockquote:hover .geometry__square-bg {
    transform: rotate(-40deg) scale(0.9);
  }
}
.cid-sIjN9yivXz {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fcf5e6;
}
.cid-sIjN9yivXz .nav-tabs .nav-item.open .nav-link:focus,
.cid-sIjN9yivXz .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-sIjN9yivXz .nav-tabs {
  display: flex;
  flex-wrap: nowrap;
  gap: 1vw;
  border: none;
}
@media (max-width: 767px) {
  .cid-sIjN9yivXz .nav-tabs {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .cid-sIjN9yivXz .nav-item {
    width: 100%;
    margin: 0 0 0.5rem 0;
  }
}
.cid-sIjN9yivXz .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  height: 100%;
  border-radius: 0 !important;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  text-align: center;
  background-color: #0b2b5c;
}
.cid-sIjN9yivXz .nav-tabs .nav-link:not(.active) {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sIjN9yivXz .nav-tabs .nav-link {
    text-align: left;
    padding: 1rem 2rem;
    border-radius: 30px !important;
  }
}
.cid-sIjN9yivXz .nav-tabs .nav-item {
  width: 100%;
}
.cid-sIjN9yivXz .nav-link,
.cid-sIjN9yivXz .nav-link.active {
  padding: 1rem auto;
  background: #ffffff;
}
.cid-sIjN9yivXz .nav-tabs .nav-link.active {
  color: #0b2b5c;
}
.cid-sIjN9yivXz .tab-content {
  background: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 768px) {
  .cid-sIjN9yivXz .tab-content {
    border-radius: 30px !important;
  }
}
.cid-sIjN9yivXz .logo-container img {
  max-width: 180px;
}
@media screen and (min-width: 767px) {
  .cid-sIjN9yivXz .logo-container {
    border-right: 1px solid #0b2b5c;
  }
}
.cid-sIjN9yivXz H4 {
  text-align: center;
}
.cid-sIjN9yivXz H3 {
  text-align: center;
}
@media (max-width: 992px) and (min-width: 768px) {
  .cid-sIjN9yivXz .nav-link {
    font-size: 1.2rem;
  }
}
.cid-sIjNd4SO5J {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-sIjNd4SO5J .google-map {
  height: 30rem;
  position: relative;
}
.cid-sIjNd4SO5J .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sIjNd4SO5J .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sIjNd4SO5J .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sIjNd4SO5J .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sIjNgUU4Su {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sIjNgUU4Su .mbr-overlay {
  background-color: #fafafa;
  opacity: 0.1;
}
.cid-sIjNgUU4Su .list {
  list-style: none;
  padding-left: 0;
  color: #0b2b5c;
}
@media (max-width: 991px) {
  .cid-sIjNgUU4Su .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sIjNgUU4Su .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 991px) {
  .cid-sIjNgUU4Su .container-data {
    margin-bottom: 2rem;
  }
}
.cid-sIjNgUU4Su form.mbr-form {
  border-radius: 20px;
  background: #fcf5e6;
}
.cid-sIjNgUU4Su form.mbr-form .form-control {
  box-shadow: none;
  border: solid 1px #c7c7c7 !important;
}
.cid-sIjNgUU4Su form.mbr-form .form-control:focus {
  border: 1px solid #000 !important;
}
.cid-sIjNgUU4Su form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sIjNgUU4Su form.mbr-form .mbr-section-btn .btn {
  width: max-content;
  margin: auto;
  padding: 0 3rem;
}
@media (max-width: 991px) {
  .cid-sIjNgUU4Su form.mbr-form .mbr-section-btn .btn {
    margin-top: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sIjNgUU4Su form.mbr-form {
    padding: 4rem 3rem;
    width: 70%;
  }
}
@media (max-width: 991px) {
  .cid-sIjNgUU4Su form.mbr-form {
    padding: 2rem 1rem;
  }
}
.cid-sIjMsNkbhY {
  z-index: 1000;
  width: 100%;
}
.cid-sIjMsNkbhY nav.navbar {
  position: fixed;
}
.cid-sIjMsNkbhY .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIjMsNkbhY .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sIjMsNkbhY .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sIjMsNkbhY .dropdown-item:hover,
.cid-sIjMsNkbhY .dropdown-item:focus {
  background: #0b2b5c !important;
  color: white !important;
}
.cid-sIjMsNkbhY .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sIjMsNkbhY .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sIjMsNkbhY .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
  color: #000;
}
.cid-sIjMsNkbhY .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sIjMsNkbhY .nav-link {
  position: relative;
}
.cid-sIjMsNkbhY .container {
  display: flex;
  margin: auto;
}
.cid-sIjMsNkbhY .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sIjMsNkbhY .dropdown-menu,
.cid-sIjMsNkbhY .navbar.opened {
  background: #fffdf7 !important;
}
.cid-sIjMsNkbhY .nav-item:focus,
.cid-sIjMsNkbhY .nav-link:focus {
  outline: none;
}
.cid-sIjMsNkbhY .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sIjMsNkbhY .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sIjMsNkbhY .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sIjMsNkbhY .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIjMsNkbhY .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sIjMsNkbhY .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sIjMsNkbhY .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: rgba(255, 253, 247, 0);
}
.cid-sIjMsNkbhY .navbar.opened {
  transition: all 0.3s;
}
.cid-sIjMsNkbhY .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sIjMsNkbhY .navbar .navbar-logo img {
  width: auto;
}
.cid-sIjMsNkbhY .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sIjMsNkbhY .navbar.collapsed {
  justify-content: center;
}
.cid-sIjMsNkbhY .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sIjMsNkbhY .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sIjMsNkbhY .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sIjMsNkbhY .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sIjMsNkbhY .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sIjMsNkbhY .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sIjMsNkbhY .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sIjMsNkbhY .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sIjMsNkbhY .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sIjMsNkbhY .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sIjMsNkbhY .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sIjMsNkbhY .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sIjMsNkbhY .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sIjMsNkbhY .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sIjMsNkbhY .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sIjMsNkbhY .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sIjMsNkbhY .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sIjMsNkbhY .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sIjMsNkbhY .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sIjMsNkbhY .navbar.navbar-short {
  min-height: 60px;
}
.cid-sIjMsNkbhY .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sIjMsNkbhY .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sIjMsNkbhY .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sIjMsNkbhY .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sIjMsNkbhY .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sIjMsNkbhY .dropdown-item.active,
.cid-sIjMsNkbhY .dropdown-item:active {
  background-color: transparent;
}
.cid-sIjMsNkbhY .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sIjMsNkbhY .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sIjMsNkbhY .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sIjMsNkbhY .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fffdf7;
}
.cid-sIjMsNkbhY .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sIjMsNkbhY .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sIjMsNkbhY ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sIjMsNkbhY .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sIjMsNkbhY button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sIjMsNkbhY button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sIjMsNkbhY button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sIjMsNkbhY button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIjMsNkbhY button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIjMsNkbhY button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sIjMsNkbhY nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIjMsNkbhY nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sIjMsNkbhY nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sIjMsNkbhY nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIjMsNkbhY .navbar-dropdown {
  padding: .7rem 1rem;
  position: fixed;
}
.cid-sIjMsNkbhY a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sIjMsNkbhY .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sIjMsNkbhY .navbar {
    height: 70px;
  }
  .cid-sIjMsNkbhY .navbar.opened {
    height: auto;
  }
  .cid-sIjMsNkbhY .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sIjNm1ufWb {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sIjNm1ufWb .media-wrap {
  max-width: 220px;
  padding: 0;
}
@media (max-width: 1200px) {
  .cid-sIjNm1ufWb .media-wrap {
    margin-bottom: 1rem;
    max-width: 120px;
  }
}
@media (max-width: 991px) {
  .cid-sIjNm1ufWb .media-wrap {
    margin-bottom: 2rem;
    max-width: 80px;
  }
}
.cid-sIjNm1ufWb .container {
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-sIjNm1ufWb .row > div {
    margin: auto;
  }
}
.cid-sIjNm1ufWb .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-sIjNm1ufWb .list {
  list-style: none;
  padding-left: 0;
  color: #0b2b5c;
}
@media (max-width: 991px) {
  .cid-sIjNm1ufWb .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sIjNm1ufWb .list {
    margin-bottom: 0rem;
  }
}
.cid-sIjNm1ufWb .mbr-text {
  color: #0b2b5c;
}
@media (min-width: 992px) {
  .cid-sIjNm1ufWb .border-left {
    border-left: 1px solid #0b2b5c;
  }
}
@media (max-width: 992px) {
  .cid-sIjNm1ufWb .row {
    display: grid;
  }
  .cid-sIjNm1ufWb .border-left {
    border: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
  }
}
.cid-sIjNm1ufWb .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #0b2b5c;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-sIjNm1ufWb .mbr-iconfont {
  color: #0b2b5c;
}
@media (max-width: 991px) {
  .cid-sIjNm1ufWb div > *:last-child {
    margin-top: 0 !important;
  }
}
